.git/**
.vscode/**
.vscode-test-extensions/**
.vscode-test-user-data/**
.vscode-test-workspace/**
.tmp-*/**
node_modules/**
test/**
src/**
robot/**
*.vsix
package-lock.json
tsconfig.json
main.py
zebra.json
out/**/*.map
